@if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action(MVC.Cart.Index())" class="glyphicon glyphicon-align-center glyphicon-shopping-cart" style="font-size: 1.5em; color: #999999;"></a></li>
        <li>@Html.ActionLink("Moje zamówienia", MVC.Users.UserOrders())</li>
        <li>@Html.ActionLink("Wyloguj", MVC.Users.LogOut())</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", MVC.Users.Register())</li>
        <li>@Html.ActionLink("Zaloguj", MVC.Users.Login())</li>
    </ul>
}
