@model IEnumerable<SL.Model.Models.Users.UsersOrders>

@{
    ViewBag.Title = "Zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th class="col-md-6">
                <p class="col-md-6">Tytuł</p>
                <p class="col-md-3">Ilość</p>
                <p class="col-md-3">Cena</p>
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @foreach (var orderDetail in item.OrderDetails)
                    {
                        <p class="col-md-6">@orderDetail.Books.Title</p>
                        <p class="col-md-3">@orderDetail.Quantity</p>
                        <p class="col-md-3">@orderDetail.UnitPrice</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }

    </table>
</div>