@model SL.Model.Models.Orders.ShoppingCart

@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Twój koszyk:
</h3>
    <div id="update-message">
    </div>
<table class="table-responsive table-condensed">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Cena sztuki
        </th>
        <th>
            Ilość
        </th>
        <th></th>
    </tr>
    @foreach (var item in
        Model.CartItems)
    {
        <tr id="row-@item.Id">
            <td>
                @Html.ActionLink(item.Books.Title, MVC.Books.Details(item.BookId))
            </td>
            <td>
                @item.Books.Price
            </td>
            <td id="item-count-@item.Id">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink btn-warning" data-id="@item.Id">
                    Usuń z koszyka
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Suma
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
@if (Model.CartItems.Count > 0) { 
    @Html.ActionLink("Kup", MVC.Cart.AddressAndPayment(), new {@class = "btn btn-success"})
}

@section scripts{
    @Scripts.Render("~/bundles/orders")
}
